<div class="wrapper">
  <h1>{{ name | titlecase }} order</h1>
  <form [formGroup]="form" (submit)="onSubmit(getFormValue())" class="form">
    <mat-card>
      <h2>Customer Information:</h2>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="form.controls.name.errors?.['required']">
          Name is required
        </mat-error>
        <mat-error *ngIf="form.controls.name.errors?.['minlength']">
          Name must be at least 3 characters long
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" />
        <mat-error *ngIf="form.controls.phone.errors?.['required']">
          Phone number is required
        </mat-error>
        <mat-error
          *ngIf="form.controls.phone.errors?.['pattern'] || form.controls.phone.errors?.['maxlength']"
        >
          Phone number must start with a "+380" and be valid
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Message</mat-label>
        <input matInput formControlName="message" />
      </mat-form-field>
    </mat-card>

    <mat-card>
      <h2>Shipping address:</h2>
      <div class="half">
        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput formControlName="country" />
          <mat-error *ngIf="form.controls.country.errors?.['required']">
            Country is required
          </mat-error>
          <mat-error *ngIf="form.controls.country.errors?.['minlength']">
            Country must be at least 3 characters long
          </mat-error>
          <mat-error *ngIf="form.controls.country.errors?.['pattern']">
            Enter a valid Country
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Region</mat-label>
          <input matInput formControlName="region" />
          <mat-error *ngIf="form.controls.region.errors?.['minlength']">
            Region must be at least 3 characters long
          </mat-error>
          <mat-error *ngIf="form.controls.region.errors?.['pattern']">
            Enter a valid Region
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput formControlName="city" />
          <mat-error *ngIf="form.controls.city.errors?.['required']">
            City is required
          </mat-error>
          <mat-error *ngIf="form.controls.city.errors?.['minlength']">
            City must be at least 3 characters long
          </mat-error>
          <mat-error *ngIf="form.controls.city.errors?.['pattern']">
            Enter a valid City
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
          <mat-error *ngIf="form.controls.address.errors?.['required']">
            Address is required
          </mat-error>
          <mat-error *ngIf="form.controls.address.errors?.['minlength']">
            Address must be at least 3 characters long
          </mat-error>
          <mat-error *ngIf="form.controls.address.errors?.['pattern']">
            Enter a valid Address
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <ng-container formArrayName="products">
      <mat-card>
        <h2>Products:</h2>
        <ng-container
          *ngFor="let productForm of products.controls; let i = index"
        >
          <div [formGroup]="getControl('products', i)" class="two-rows">
            <div class="first gap">
              <mat-form-field class="field-half">
                <mat-label>Quantity</mat-label>
                <input matInput formControlName="quantity" />
                <mat-error
                  *ngIf="products.controls[i].get('quantity').errors?.['required']"
                >
                  Quantity is required
                </mat-error>
                <mat-error
                  *ngIf="products.controls[i].get('quantity').errors?.['pattern']"
                >
                  Please enter a valid quantity
                </mat-error>
                <mat-error
                  *ngIf="products.controls[i].get('quantity').errors?.['min']"
                >
                  Quantity must be at least 1
                </mat-error>
              </mat-form-field>
              <mat-form-field class="field-half">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
                <mat-error
                  *ngIf="products.controls[i].get('name').errors?.['required']"
                >
                  Name is required
                </mat-error>
                <mat-error
                  *ngIf="products.controls[i].get('name').errors?.['minlength']"
                >
                  Name must be at least 3 characters long
                </mat-error>
              </mat-form-field>
            </div>
            <mat-form-field class="second">
              <mat-label>Id</mat-label>
              <input matInput formControlName="id" />
              <mat-error
                *ngIf="products.controls[i].get('id').errors?.['required']"
              >
                ID is required
              </mat-error>
            </mat-form-field>
            <button
              color="warn"
              mat-icon-button
              (click)="delete('products', i)"
              class="delete-button icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
        <button
          color="primary"
          mat-icon-button
          (click)="addProduct()"
          class="add-button"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-card>
    </ng-container>
    <div class="buttons">
      <ng-container *ngFor="let button of buttons">
        <button
          mat-flat-button
          [color]="button.color"
          [disabled]="button.disabled()"
          (click)="button.onClick()"
          [ngStyle]="
            button.name === 'reset' && name === 'add' ? { display: 'none' } : {}
          "
        >
          {{ button.name }}
        </button>
      </ng-container>
    </div>
  </form>
</div>
