<div *ngIf="cart.length" class="cart">
  <ul class="product">
    <li
      *ngFor="let product of cart; let index = index; trackBy: trackByIndex"
      class="product-item"
    >
      <img
        [src]="product.extraInfo.image[0]"
        alt="item.name"
        class="product-img"
      />
      <h2 class="product-name">{{ product.name }}</h2>
      <p class="product-size">{{ product.extraInfo.size }}</p>
      <p class="product-price">{{ product.price | currency }}</p>
      <button (click)="removeProduct(product.id)" class="product-button">
        <svg class="product-icon">
          <use xlink:href="assets/icons/sprite.svg#trash_can"></use>
        </svg>
      </button>
      <div class="product-counter">
        <app-counter
          [ngModel]="product.count"
          (ngModelChange)="changeCount(product.id, $event)"
        ></app-counter>
      </div>
    </li>
  </ul>
  <div class="total">
    <h3 class="total-text">Total</h3>
    <div class="total-price">{{ getSum() | currency }}</div>
  </div>
</div>

<div *ngIf="!cart.length" class="message">
  <p class="message-text">Your cart is empty</p>
  <a routerLink="/products">
    <button class="button message-button">Go shopping</button>
  </a>
</div>

<div>
  <p *ngFor="let item of cartV2Service.cart$ | async">
    {{ item.product.name }}-
    {{ item.count }}
  </p>
  <div>{{ cartV2Service.total$ | async | currency}}</div>
</div>
