<div *ngIf="cart.length" class="cart">
  <ul class="product">
    <li *ngFor="let product of cart" class="product-item">
      <img [src]="product.slides[0].img" alt="item.name" class="product-img" />
      <h2 class="product-name">{{ product.name }}</h2>
      <p class="product-size">{{ product.size }}</p>
      <p class="product-price">{{ product.price | currency }}</p>
      <button  class="product-button">
        <svg class="product-icon">
          <use xlink:href="assets/icons/sprite.svg#trash_can"></use>
        </svg>
      </button>
      <form [formGroup]="counterForm" class="product-counter">
        <app-counter formControlName="quantity"></app-counter>
      </form>
    </li>
  </ul>
  <div class="total">
    <h3 class="total-text">Total</h3>
    <div class="total-price"></div>
  </div>
</div>

<div *ngIf="!cart.length" class="message">
  <p class="message-text">Your cart is empty</p>
  <a routerLink="/products">
    <button class="button message-button">Go shopping</button>
  </a>
</div>
