@import "style-variables.scss";

.slider-img {
  object-fit: cover;
  height: 700px;
}

.product {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: rem(20);
  border: 1px solid var(--greyX);
  margin: rem(50) 0;
  padding: rem(20);

  &-slider {
    height: 700px;
  }

  &-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--lightGrey);
    padding: rem(10);
  }

  &-title {
    @extend %header1;
    text-align: center;
  }

  &-button {
    margin-top: rem(40);
    width: max-content;

    &:hover:not([disabled]) {
      background-color: var(--corn-opacity);
    }
  }

  &-counter {
    margin-top: rem(40);
  }
}

.rating {
  margin-top: rem(10);
  display: flex;
  gap: 10px;
  justify-content: center;
  &-star {
    height: 19px;
    width: 20px;
  }
}

.pot {
  @extend %bodyTitle;
  margin-top: rem(20);
  text-align: center;

  &-list {
    margin-top: rem(5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(20);
  }

  &-button {
    @extend %bodyText;
    padding: rem(8) rem(10);
    background-color: var(--white);
    border-radius: 6px;
    position: relative;

    &:hover {
      background-color: var(--corn-opacity);
    }
  }
}

.tooltip-text {
  @extend %bodyText;
  font-size: rem(14);
  visibility: hidden;
  width: 120px;
  background-color: var(--white);
  text-align: center;
  border-radius: 4px;
  border: var(--greyX) 1px solid;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: var(--greyX) transparent transparent transparent;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.pot-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.counter {
  margin-top: rem(5);
}

.selected {
  background-color: var(--corn);
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  display: none;
}

@media #{$tabletHD} {
  .product {
    margin-top: rem(30);
  }
}

@media #{$tabletSD} {
  .slider-img {
    height: 500px;
  }

  .product {
    margin-top: rem(15);
    grid-template-columns: 100%;

    &-slider {
      height: 500px;
    }
  }
}

@media #{$tablet} {
  .slider-img {
    height: 300px;
  }

  .product {
    &-slider {
      height: 300px;
    }
  }
}
