@import "../../variable-template.scss";

.container {
  max-width: 1530px;
  margin: 0 auto;
}

.header {
  background-color: var(--lightGrey);
}

.message {
  @extend %subHead1;
  color: var(--lightGrey);
  background-color: var(--green);
  height: rem(55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  height: rem(80);
}

.list {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  gap: rem(25);
}

.list-right {
  justify-content: flex-end;
}

.logo {
  margin-right: rem(30);
}

.link {
  @extend %subHead2;

  &:hover {
    text-decoration: underline;
  }
}

.logo-icon {
  width: rem(100);
  height: rem(56);
  fill: none;

  &:hover {
    fill: var(--green-opacity);
  }
}

svg.header-icon {
  width: rem(20);
  height: rem(20);
  stroke: var(--black, black);

  &:hover {
    stroke: var(--green);
  }
}

@media (max-width: 1919px) {
  .container {
    padding: 0 1rem;
  }
}
