@import "style-variables.scss";

.plantcare {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "video text"
    "video charity";

  &-video {
    grid-area: video;
    width: 100%;
    height: 100%;
  }

  &-text-container {
    grid-area: text;
    padding-left: rem(60);
  }

  &-title {
    @extend %header2;
  }

  &-subtitle {
    @extend %subHead3;
  }

  &-list {
    margin-top: rem(45);
  }

  &-icon {
    width: 25px;
    height: 25px;
  }

  &-text {
    @extend %subHead1;
    margin: rem(28) 0 rem(28) rem(28);
  }
}

.charity {
  grid-area: charity;
  text-align: center;
  margin-top: rem(100);

  &-title {
    @extend %header2;
    color: var(--corn);
  }

  &-text {
    @extend %boldBodyText;
    color: var(--green);
    text-align: justify;
    margin: rem(50) 0 0 rem(88);
  }

  &-link {
    color: var(--green);
    text-decoration: underline;
  }
}

@media #{$tabletHD} {
  .plantcare {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "video"
      " charity";

    &-video {
      height: rem(500);
    }

    &-text-container {
      padding-left: 0;
    }

    &-title {
      text-align: center;
    }

    &-list {
      margin-top: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: rem(10);
    }
  }

  .charity {
    margin-top: rem(30);

    &-title {
      text-align: center;
    }

    &-text {
      margin: 0;
    }

    &-link {
      color: var(--green);
      text-decoration: underline;
    }
  }
}

@media #{$tablet} {
  .plantcare {
    &-video {
      height: rem(300);
    }
  }
}
