<ul class="filter">
  <ul *ngFor="let filter of filters" class="filter-list">
    <ng-container *ngFor="let keyValuePair of filter | keyvalue">
      <li class="filter-title not-work-yet">{{ keyValuePair.key | titlecase }}</li>
      <li *ngFor="let option of keyValuePair.value" class="filter-text">
        <label class="container not-work-yet">{{ option }}
          <input type="checkbox" (click)="checkFilter(option)"/>
          <span class="checkmark" [ngClass]="{'checked': selectedFilters.has(option)}" ></span>
        </label>
      </li>
    </ng-container>
  </ul>
</ul>
