<div class="container">
  <main class="main">
    <div class="title-container">
      <h1 class="title">ALL PLANTS</h1>
      <div class="view">
        <div class="view-container">
          Sort by
          <div class="view-filter">Best selling</div>
        </div>
        <div class="view-container">
          View as
          <button class="view-button">
            <svg class="view-icon">
              <use xlink:href="assets/icons/sprite.svg#blocks"></use>
            </svg>
          </button>
          <button class="view-button">
            <svg class="view-icon">
              <use xlink:href="assets/icons/sprite.svg#lines"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <app-filter class="filter"></app-filter>
    <section class="card">
      <ul class="card-list">
        <li *ngFor="let plant of plants" class="card-item">
          <a href="/" class="card-link">
            <img class="card-img" [src]="plant.img" [alt]="plant.name" />
          </a>
          <div class="card-descr">
            <app-rating></app-rating>
            <a href="/" class="plant-name">{{ plant.name | titlecase }}</a>
            <p class="price">{{ plant.price | currency }}</p>
            <app-counter></app-counter>
            <button class="button card-button">ADD TO CART</button>
          </div>
        </li>
      </ul>
    </section>
  </main>
  <app-pagination></app-pagination>
</div>
