@import "style-variables.scss";

.slider {
  margin-top: rem(50);

  &-title {
    @extend %header1;
    text-align: center;
  }

  &-button {
    margin-top: rem(20);
  }

  &-img {
    object-fit: cover;
    height: 550px;
  }
}

.text {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-title {
    @extend %subHead3;
    width: fit-content;
    max-width: 100%;
  }
}

.centerMode {
  padding: 0 rem(10);
}

@media #{$desktopSD} {
  .container {
    padding: 0 rem(30);
  }

  .slider-img {
    height: 470px;
  }
}

@media #{$tabletHD} {
  .slider-img {
    height: 330px;
  }
}
