@import "style-variables.scss";

.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);

  z-index: 1;

  &-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    width: rem(500);
    padding: rem(20);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &-button {
    position: absolute;
    top: rem(10);
    right: rem(10);
  }

  &-icon {
    width: rem(20);
    height: rem(20);
  }

  &-img {
    height: rem(400);
    object-fit: cover;
  }

  &-title {
    @extend %header2;
  }

  &-text {
    @extend %subHead1;
    margin-top: rem(10);
  }

  &-link {
    @extend %bodyText;
    color: var(--green);
    text-decoration: underline;
    margin-top: rem(20);
  }
}
