<mat-card>
  <mat-card-content>
    <form
      (submit)="onSubmit()"
      [formGroup]="toolbarForm"
      class="toolbar"
    >
      <div class="toolbar-container">
        <mat-form-field
          [matTooltip]="tooltip"
          matTooltipPosition="right"
        >
          <mat-label>Search</mat-label>
          <input matInput formControlName="searchValue" />
        </mat-form-field>
      </div>
      <div class="toolbar-container">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <mat-select formControlName="filterValue">
            <mat-option *ngFor="let option of options" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>By</mat-label>
          <input matInput formControlName="filterName" />
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" class="toolbar-button">
        Apply
      </button>
    </form>
  </mat-card-content>
</mat-card>
