@import "style-variables.scss";
@import "form-style.scss";

.form {
  width: rem(400);
}

.buttons {
  display: flex;
  gap: rem(10);
  position: fixed;
  top: rem(20);
  right: rem(20);
}

.modal-message {
  background-color: red;
  color: black;
}