<div class="slider" *ngIf="slideTemplate && slides">
  <ngx-slick-carousel
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <ng-container *ngTemplateOutlet="slideTemplate;  context: { slideItem: slide}"></ng-container>
    </div>
  </ngx-slick-carousel>
  <div>
    <button (click)="prev()" class="slider-arrow slider-arrow-left">
      <svg class="slider-svg">
        <use xlink:href="assets/icons/sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <button (click)="next()" class="slider-arrow slider-arrow-right">
      <svg class="slider-svg">
        <use xlink:href="assets/icons/sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
