@import "style-variables.scss";

.pagination {
  @extend %subHead1;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  &_list {
    display: flex;
    gap: 25px;
  }

  &_link {
    color: var(--green);

    &_bold {
      font-weight: bold;
    }
  }
}
