@import "../../../../../assets/style-variables.scss";

.product {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: rem(20);
  border: 1px solid var(--greyX);
  margin: rem(50) 0;
  padding: rem(20);

  &-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-title {
    @extend %header1;
    text-align: center;
  }

  &-button {
    margin-top: rem(40);
    width: max-content;

    &:hover {
      background-color: var(--corn-opacity);
    }
  }
}

.rating {
  margin-top: rem(10);
  display: flex;
  gap: 10px;
  justify-content: center;
  &-star {
    height: 19px;
    width: 20px;
  }
}

.price {
  @extend %subHead1;
  color: var(--green);
  margin-top: rem(10);
}

.pot {
  @extend %bodyTitle;
  margin-top: rem(20);
  text-align: center;

  &-list {
    margin-top: rem(5);
    display: flex;
    gap: rem(20);
  }

  &-button {
    @extend %bodyText;
    padding: rem(8) rem(10);
    background-color: var(--lightGrey);
    border-radius: 6px;

    &:hover {
      background-color: var(--corn-opacity);
    }
  }
}

.description {
  margin-top: rem(30);
  display: flex;
  gap: rem(20);

  &-item {
    display: flex;
    align-items: flex-end;
    gap: rem(10);
  }

  &-icon {
    width: 25px;
    height: 25px;
  }
}
