<ng-container *ngIf="plants">
  <app-slider
    [sliderType]="'centerMode'"
    [slides]="plants"
    [slideTemplate]="slideCard"
    [sliderType]="'centerMode'"
  ></app-slider>
</ng-container>

<ng-template #slideCard let-slide="slideItem">
  <a routerLink="/products/{{ slide.id }}">
    <img [src]="slide.img" alt="" width="100%" class="slider-img centerMode" />
  </a>

  <div class="text">
    <a routerLink="/products/{{ slide.id }}">
      <p class="text-title">{{ slide.name }}</p>
    </a>
    <p class="price">{{ slide.price | currency }}</p>
  </div>
</ng-template>