@import "style-variables.scss";

.slider-img {
  object-fit: cover;
  height: 550px;
}

.centerMode {
  padding: 0 rem(10);
}

.text {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-title {
    @extend %subHead3;
    width: fit-content;
    max-width: 100%;
  }
}

.price {
  width: fit-content;
}

@media #{$desktopSD} {

  .slider-img {
    height: 470px;
  }
}

@media #{$tabletHD} {
  .slider-img {
    height: 330px;
  }
}
