@import "style-variables.scss";

.background {
  position: relative;

  ::after {
    z-index: -1;
    position: absolute;
    top: rem(100);
    content: "";
    height: 550px;
    border-left: 550px solid var(--lightGrey);
  }
}

.title {
  @extend %header1;
  text-align: center;
  margin: rem(50) 0 rem(20) 0;
}

.UpSlider {
  display: grid;
  grid-template-areas: "img text";

  &-imgBox {
    grid-area: img;
    display: flex;
  }

  &-img {
    height: 750px;
    width: 500px;
    object-fit: cover;
  }

  &-textBox {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: rem(10);
  }

  &-title {
    @extend %header1;
    padding-left: rem(100);
    text-align: center;
  }

  &-text {
    @extend %subHead1;
    padding-left: rem(100);
    text-align: justify;
  }
}

.slider {
  &-img {
    object-fit: cover;
    height: 550px;
  }

  &-centerMode {
    padding: 0 rem(10);
  }

  &-text {
    margin-top: rem(20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-title {
    @extend %subHead3;
    width: fit-content;
    max-width: 100%;
  }

  &-price {
    width: fit-content;
  }
}

@media #{$desktopSD} {
  .slider-img {
    height: 470px;
  }

  .background {
    ::after {
      display: none;
    }
  }

  .UpSlider {
    grid-template-areas:
      "text"
      "img ";

    &-imgBox {
      justify-content: center;
    }

    &-img {
      height: 750px;
      max-width: 50%;
    }

    &-textBox {
      align-items: center;
      background-color: var(--lightGrey);
      position: absolute;
      width: 100%;
      top: rem(50);
      padding: rem(15);
    }

    &-title {
      padding-left: 0;
    }

    &-text {
      padding-left: 0;
    }
  }
}

@media #{$tabletHD} {
  .slider-img {
    height: 330px;
  }
}

@media #{$tabletSD} {
  .UpSlider {
    &-imgBox {
      :first-child {
        max-width: 100%;
      }

      :last-child {
        display: none;
      }
    }
  }
}
