<div class="wrapper">
  <h1>{{ name | titlecase }} user</h1>
  <form [formGroup]="form" (submit)="onSubmit(getFormValue())" class="form">
    <mat-card>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.controls.username.errors?.['required']">
          Username is required
        </mat-error>
        <mat-error *ngIf="form.controls.username.errors?.['minlength']">
          Username must be at least 3 characters long
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="form.controls.password.errors?.['required']">
          Password is required
        </mat-error>
        <mat-error *ngIf="form.controls.password.errors?.['minlength']">
          Password must be at least 3 characters long
        </mat-error>
      </mat-form-field>
    </mat-card>
    <button mat-flat-button color="primary" type="submit" class="submit-button">
      Submit
    </button>
  </form>
</div>


