<div class="response">
  <div>
    <img
      src="https://images.unsplash.com/photo-1532611322744-369123d95bd3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
      class="response-img"
    />
    <h1 class="response-title">Thank you for shopping!</h1>
  </div>

  <h2 class="response-subtitle">
    Your order number is <span class="response-order">{{ id }}</span>
  </h2>
  <div class="response-box">
    <h2 class="response-subtitle">What's next?</h2>
    <p class="response-text">
      We will send confirmation of the order and information about its progress
      by e-mail.
    </p>
    <p class="response-text">
      The order will be processed after your payment is confirmed.
    </p>
    <p class="response-text">
      In case of problems with the payment, you will receive a new link to renew
      the payment to the e-mail address provided.
    </p>
  </div>
  <button class="button response-button">
    <a routerLink="/">Go to the home page</a>
  </button>
</div>

