@import "../../../../assets/style-variables.scss";

.product {
  display: grid;
  grid-template-columns: 60% 40%;
  border: 1px solid var(--greyX);
  margin: rem(50) 0;
  padding: rem(20);

  &-img {
    width: 100%;
    height: 735px;
    object-fit: cover;
  }

  &-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-title {
    @extend %header1;
    text-align: center;
  }

  &-button {
    margin-top: rem(40);
    width: max-content;

    &:hover {
      background-color: var(--corn-opacity);
    }
  }
}

.rating {
  margin-top: rem(10);
  display: flex;
  gap: 10px;
  justify-content: center;
  &-star {
    height: 19px;
    width: 20px;
  }
}

.price {
  @extend %subHead1;
  color: var(--green);
  margin-top: rem(10);
}

.pot {
  @extend %bodyTitle;
  margin-top: rem(20);
  text-align: center;

  &-list {
    margin-top: rem(5);
    display: flex;
    gap: rem(20);
  }

  &-button {
    @extend %bodyText;
    padding: rem(8) rem(10);
    background-color: var(--lightGrey);
    border-radius: 6px;
  }
}

.description {
  margin-top: rem(30);
  display: flex;
  gap: rem(20);

  &-item {
    display: flex;
    align-items: flex-end;
    gap: rem(10);
  }

  &-icon {
    width: 25px;
    height: 25px;
  }
}

.plantcare {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas:
    "video text"
    "video charity";

  &-video {
    grid-area: video;
    width: 100%;
    height: 100%;
  }

  &-text-container {
    grid-area: text;
    padding-left: rem(60);
  }

  &-title {
    @extend %header2;
  }

  &-subtitle {
    @extend %subHead3;
  }

  &-list {
    margin-top: rem(45);
  }

  &-icon {
    width: 25px;
    height: 25px;
  }

  &-text {
    @extend %subHead1;
    margin: rem(28) 0 rem(28) rem(28);
  }
}

.charity {
  grid-area: charity;
  text-align: center;
  margin-top: rem(100);

  &-title {
    @extend %header2;
    color: var(--corn);
  }

  &-text {
    @extend %boldBodyText;
    color: var(--green);
    text-align: justify;
    margin: rem(50) 0 0 rem(88);
  }

  &-link {
    color: var(--green);
    text-decoration: underline;
  }
}

.review {
  margin-top: rem(70);
  display: grid;

  &-rating {
    justify-content: flex-start;
  }

  &-number {
    @extend %subHead3;
    margin-left: rem(14);
  }

  &-list {
    display: grid;
    gap: rem(20);
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-start;
    margin-top: rem(20);
  }

  &-item {
    background-color: var(--lightGrey);
    max-width: 295px;
    padding: rem(20);
  }

  &-name {
    @extend %subHead3;
  }

  &-text {
    @extend %subHead1;
    color: var(--green);
    margin-top: rem(10);
    text-align: justify;
  }

  &-item-type {
    @extend %bodyText;
    color: var(--greyX);
    margin-top: rem(30);

    &-text {
      color: var(--black);
    }
  }

  &-img {
    margin-top: rem(10);
    width: 100%;
  }

  &-button {
    text-transform: uppercase;
    margin-top: rem(50);
    justify-self: center;

    &:hover {
      background-color: var(--corn-opacity);
    }
  }
}
