<div class="container">
  <main>
    <section class="product">
      <div class="product-img">
        <img
          class="product-img"
          src="https://images.unsplash.com/photo-1659348447586-7da0e30727a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
          alt="Lily Plant"
        />
      </div>
      <div class="product-descr">
        <h1 class="product-title">Peace Lily Plant - Spathyphyllium</h1>
        <app-rating></app-rating>
        <p class="price">{{ 29.99 | currency }}</p>
        <div class="pot">
          Size
          <ul class="pot-list">
            <li class="pot-item">
              <button class="pot-button">10'' Pot</button>
            </li>
            <li class="pot-item">
              <button class="pot-button">6'' Pot</button>
            </li>
            <li class="pot-item">
              <button class="pot-button">4'' Pot</button>
            </li>
          </ul>
        </div>
        <div class="pot">
          Pot type
          <ul class="pot-list">
            <li class="pot-item">
              <button class="pot-button">White Cylinder</button>
            </li>
            <li class="pot-item">
              <button class="pot-button">Navarro</button>
            </li>
            <li class="pot-item">
              <button class="pot-button">Nursery Pot</button>
            </li>
          </ul>
        </div>
        <div class="pot">
          Quantity
          <app-counter></app-counter>
        </div>
        <div class="description">
          <div class="description-item">
            <svg class="description-icon">
              <use xlink:href="assets/icons/sprite.svg#cloud"></use>
            </svg>
            <p>Most light conditions</p>
          </div>
          <div class="description-item">
            <svg class="description-icon">
              <use xlink:href="assets/icons/sprite.svg#smile"></use>
            </svg>
            <p>Easy care</p>
          </div>
        </div>
        <button class="product-button">ADD TO CART</button>
      </div>
    </section>
    <section class="plantcare">
      <iframe
        class="plantcare-video"
        src="https://www.youtube.com/embed/1Nyh1TWpWzw"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <div class="plantcare-text-container">
        <h2 class="plantcare-title">Lily plant likes</h2>
        <ul class="plantcare-list">
          <li class="plantcare-item">
            <div class="plantcare-subtitle">
              <svg class="plantcare-icon">
                <use xlink:href="assets/icons/sprite.svg#rain"></use>
              </svg>
              Humidity
            </div>
            <p class="plantcare-text">
              She loves humidity. If your bathroom gets lots of light, pop her
              in there. Or mist her every few days to keep her happy.
            </p>
          </li>
          <li class="plantcare-item">
            <div class="plantcare-subtitle">
              <svg class="plantcare-icon">
                <use xlink:href="assets/icons/sprite.svg#cloud"></use>
              </svg>
              Most light conditions
            </div>
            <p class="plantcare-text">
              She's easy when it comes to light, managing in most conditions,
              though she'll flower more in a brighter spot.
            </p>
          </li>
          <li class="plantcare-item">
            <div class="plantcare-subtitle">
              <svg class="plantcare-icon">
                <use xlink:href="assets/icons/sprite.svg#moisture"></use>
              </svg>
              Light watering
            </div>
            <p class="plantcare-text">
              She's pretty tough and will usually bounce back from a missed
              watering. Water her when the top inch of soil feels dry.
            </p>
          </li>
        </ul>
      </div>
      <div class="charity">
        <h2 class="charity-title">OUR CHARITY PLANT</h2>
        <p class="charity-text">
          We donate 5$ per Lily plant sold to
          <a class="charity-link" href="https://www.icanyoucantoo.co.uk"
            >icanyoucantoo</a
          >
          , a grassroots initiative that supports young people from
          non-privileged communities achieve their career dreams.
        </p>
      </div>
    </section>
    <section class="review">
      <div class="rating review-rating">
        <svg class="rating-star">
          <use xlink:href="assets/icons/sprite.svg#star_full"></use>
        </svg>
        <svg class="rating-star">
          <use xlink:href="assets/icons/sprite.svg#star_full"></use>
        </svg>
        <svg class="rating-star">
          <use xlink:href="assets/icons/sprite.svg#star_full"></use>
        </svg>
        <svg class="rating-star">
          <use xlink:href="assets/icons/sprite.svg#star_full"></use>
        </svg>
        <svg class="rating-star">
          <use xlink:href="assets/icons/sprite.svg#star_empty"></use>
        </svg>
        <p class="review-number">10 Reviews</p>
      </div>
      <ul class="review-list">
        <li class="review-item">
          <p class="review-name">J.O.</p>
          <div class="rating review-rating">
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
          </div>
          <p class="review-text">It has done very well</p>
          <div class="review-item-type">
            Item type:
            <p class="review-item-type-text">4'' Pot</p>
          </div>
        </li>
        <li class="review-item">
          <p class="review-name">K.T.</p>
          <div class="rating review-rating">
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
          </div>
          <p class="review-text">
            This picture was right after I received my ordered. It has been
            several weeks since it came and has adapted well to its new home by
            giving lots of new growth and thriving. I love the plants I get from
            here and have ordered numerous times and will continue to order
            more. Prices are reasonable, packed with care and always arrives in
            great shape.
          </p>
          <div class="review-item-type">
            Item type:
            <p class="review-item-type-text">6'' Pot</p>
          </div>
          <img
            src="https://images.unsplash.com/photo-1675673428645-6275465791ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
            alt=""
            class="review-img"
          />
        </li>
        <li class="review-item">
          <p class="review-name">S.F.</p>
          <div class="rating review-rating">
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_empty"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_empty"></use>
            </svg>
          </div>
          <p class="review-text">
            The plant is really healthy, but I'm disappointed that the plant
            isn't growing any flowers.
          </p>
          <div class="review-item-type">
            Item type:
            <p class="review-item-type-text">4'' Pot</p>
          </div>
        </li>
        <li class="review-item">
          <p class="review-name">L.R.</p>
          <div class="rating review-rating">
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
          </div>
          <p class="review-text">
            Everything arrived well packed. Plants are beautiful and healthy.
          </p>
          <div class="review-item-type">
            Item type:
            <p class="review-item-type-text">10'' Pot</p>
          </div>
        </li>
        <li class="review-item">
          <p class="review-name">G.P.</p>
          <div class="rating review-rating">
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
            <svg class="rating-star">
              <use xlink:href="assets/icons/sprite.svg#star_full"></use>
            </svg>
          </div>
          <p class="review-text">
            First flowering plant that has bloomed for me this year. Appears to
            be thriving in indirect light unlike some others
          </p>
          <div class="review-item-type">
            Item type:
            <p class="review-item-type-text">4'' Pot</p>
          </div>
          <img
            src="https://images.unsplash.com/photo-1676387794914-e6be10e6a57b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80"
            alt=""
            class="review-img"
          />
        </li>
      </ul>
      <button class="review-button">show more reviews</button>
    </section>
  </main>
</div>
