<section class="review">
  <div class="review-number">
    <app-rating [size]="'medium'"></app-rating>
    <p>{{plantReview.length}} Reviews</p>
  </div>
  <ul class="review-list">
    <li *ngFor="let review of plantReview" class="review-item">
      <p class="review-name">{{review.name | titlecase}}</p>
      <div class="review-rating">
        <app-rating [size]="'medium'"></app-rating>
      </div>
      <p class="review-text">
        {{review.comment}}
      </p>
      <img
        [src]="review.photo"
        alt=""
        class="review-img"
      />
    </li>
  </ul>
  <button class="review-button button">show more reviews</button>
</section>
