@import "style-variables.scss";

.review {
  margin-top: rem(70);
  display: grid;

  &-rating {
    margin-top: 10px;
  }

  &-number {
    @extend %subHead3;
    display: flex;
    gap: rem(24);
  }

  &-list {
    display: grid;
    gap: rem(20);
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-start;
    margin-top: rem(20);
  }

  &-item {
    background-color: var(--lightGrey);
    max-width: 295px;
    padding: rem(20);
  }

  &-name {
    @extend %subHead3;
  }

  &-text {
    @extend %subHead1;
    color: var(--green);
    margin-top: rem(10);
    text-align: justify;
  }

  &-item-type {
    @extend %bodyText;
    color: var(--greyX);
    margin-top: rem(30);

    &-text {
      color: var(--black);
    }
  }

  &-img {
    margin-top: rem(10);
    width: 100%;
  }

  &-button {
    text-transform: uppercase;
    margin-top: rem(50);
    justify-self: center;

    &:hover {
      background-color: var(--corn-opacity);
    }
  }
}
