<app-toolbar
  (toolbar)="onSubmit($event)"
  (onAddButtonClick)="onAddButtonClick($event)"
  [options]="options"
  [item]="'product'"
></app-toolbar>
<app-table
  [dataSource]="dataSource"
  [displayedColumns]="displayedColumns"
  [actionConfig]="actionConfig"
  (sortChange)="announceSortChange($event)"
></app-table>
<mat-paginator
  [length]="params.length"
  [pageSize]="params.limit"
  [pageIndex]="params.pageIndex"
  [showFirstLastButtons]="true"
  [hidePageSize]="true"
  (page)="handlePageEvent($event)"
>
</mat-paginator>

<ng-container *ngIf="productsService.showModal.getValue()">
  <app-delete-modal [item]="'product'" (confirmation)="confirm($event, id)"></app-delete-modal>
</ng-container>