<section class="plantcare">
  <iframe
    class="plantcare-video"
    src="https://www.youtube.com/embed/1Nyh1TWpWzw"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <div class="plantcare-text-container">
    <h2 class="plantcare-title">Lily plant likes</h2>
    <ul class="plantcare-list">
      <li class="plantcare-item">
        <div class="plantcare-subtitle">
          <svg class="plantcare-icon">
            <use xlink:href="assets/icons/sprite.svg#rain"></use>
          </svg>
          Humidity
        </div>
        <p class="plantcare-text">
          She loves humidity. If your bathroom gets lots of light, pop her in
          there. Or mist her every few days to keep her happy.
        </p>
      </li>
      <li class="plantcare-item">
        <div class="plantcare-subtitle">
          <svg class="plantcare-icon">
            <use xlink:href="assets/icons/sprite.svg#cloud"></use>
          </svg>
          Most light conditions
        </div>
        <p class="plantcare-text">
          She's easy when it comes to light, managing in most conditions, though
          she'll flower more in a brighter spot.
        </p>
      </li>
      <li class="plantcare-item">
        <div class="plantcare-subtitle">
          <svg class="plantcare-icon">
            <use xlink:href="assets/icons/sprite.svg#moisture"></use>
          </svg>
          Light watering
        </div>
        <p class="plantcare-text">
          She's pretty tough and will usually bounce back from a missed
          watering. Water her when the top inch of soil feels dry.
        </p>
      </li>
    </ul>
  </div>
  <div class="charity">
    <h2 class="charity-title">OUR CHARITY PLANT</h2>
    <p class="charity-text">
      We donate 5$ per Lily plant sold to
      <a class="charity-link" href="https://www.icanyoucantoo.co.uk"
        >icanyoucantoo</a
      >
      , a grassroots initiative that supports young people from non-privileged
      communities achieve their career dreams.
    </p>
  </div>
</section>
