@import "../variable-template.scss";

.wrapper {
  width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 1530px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: $lightGrey;

  &__message {
    background-color: $green;
    height: 3.4375em;
    display: flex;

    &__text {
      @extend %subHead1;
      color: $lightGrey;
      margin: auto;
    }
  }

  &__nav {
    display: flex;
    height: 5em;

    &__list {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      gap: 25px;
    }

    &__list_left {
      justify-content: flex-end;
    }

    &__link {
      @extend %subHead2;
    }

    &__logo {
      margin-right: 30px;
    }
  }
}

.main {
  &__title {
    @extend %header1;
    height: 6rem;
    padding-top: 2rem;
    padding-bottom: 1.25rem;
    margin-left: 290px;
  }

  &__view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.75em;
    margin-left: 290px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: $lightGrey;
    border-radius: 6px;

    &__item {
      @extend %subHead3;
      display: flex;
      gap: 20px;
      align-items: baseline;
    }

    &__item_filter {
      @extend %bodyText;
      margin-left: 20px;
    }

    &__button {
      border: none;
      background-color: transparent;
    }
  }
}

.goods {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.filter {
  background-color: $lightGrey;

  &__text {
    width: 290px;
  }
}

.card {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.875rem;
  }

  &__link_img {
    @extend %card;
    padding: 20px;
    height: 295px;
    width: 295px;
  }

  &__descr {
    border: 1px solid $lightGrey;
    width: 295px;
    position: relative;
    padding-top: 10px;

    &__title {
      @extend %subHead3;
    }

    &__price {
      @extend %subHead1;
      color: $green;
      margin-top: 10px;
      margin-bottom: 40px;
    }

    &__button {
      @extend %batton;
      position: absolute;
      left: 50%;
      right: 50%;
      width: max-content;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 1919px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 1439px) {
}
