<div class="container">
  <header class="header">
    <div class="container_content">
      <nav class="header__nav">
        <div class="heared__nav_left">
          <img class="header__logo" src="assets/logo.png" alt="flower power" />
          <ul class="header__list">
            <li *ngFor="let item of navBar" class="header__item">
              <a [routerLink]="item.link" class="header__link">{{
                item.name | uppercase
              }}</a>
            </li>
          </ul>
        </div>
        <ul class="header__list header__list_left">
          <li *ngFor="let tool of toolBar" class="header__item">
            <a>
              <img [src]="tool.iconLink" [alt]="tool.name" />
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container_content">
    <main class="main">
      <div class="filter">Filters</div>
      <ul class="card__list">
        <li *ngFor="let plant of plants" class="card__item">
          <div class="card__img_border">
            <img class="card__img" [src]="plant.img" />
          </div>
          <div class="card__descr">
            <p class="card__title">{{ plant.name | titlecase }}</p>
            <p class="card__price">{{ plant.price | currency }}</p>
            <button class="card__button">ADD TO CART</button>
          </div>
        </li>
      </ul>
    </main>
  </div>
</div>
