<header class="header">
  <div class="header__message">
    Free Shipping on All Orders / 30 Day Healthy Plant Guarantee
  </div>
  <div class="container">
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__logo">
          <a href="/" class="header__link">
            <img src="assets/logo.svg" alt="flower power" />
          </a>
        </li>
        <li *ngFor="let item of navBar">
          <a [routerLink]="item.link" class="header__link"
            >{{ item.name | uppercase }}
            <img [src]="item.iconLink" />
          </a>
        </li>
      </ul>
      <ul class="header__list header__list_left">
        <li *ngFor="let tool of toolBar">
          <a [routerLink]="tool.link">
            <img [src]="tool.iconLink" [alt]="tool.name" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <main class="main">
    <h1 class="main__title title">ALL PLANTS</h1>
    <div class="view">
      <div class="view__container">
        Sort by
        <div class="view__item_filter">
          Best selling
          <img src="assets/icons/tick.svg" />
        </div>
      </div>
      <div class="view__container">
        View as
        <button class="view__button">
          <img src="assets/icons/blocks.svg" />
        </button>
        <button class="view__button">
          <img src="assets/icons/lines.svg" />
        </button>
      </div>
    </div>
    <div class="goods">
      <section class="filter"><div class="filter__text">filter</div></section>
      <section class="card">
        <ul class="card__list">
          <li *ngFor="let plant of plants" class="card__item">
            <a href="/" class="card__link">
              <img class="card__img" [src]="plant.img" />
            </a>
            <div class="card__descr">
              <div class="rating">
                <img src="assets/icons/star_full.svg" />
                <img src="assets/icons/star_full.svg" />
                <img src="assets/icons/star_full.svg" />
                <img src="assets/icons/star_full.svg" />
                <img src="assets/icons/star_full.svg" />
              </div>
              <a href="/" class="card__plant-name plant-name">{{
                plant.name | titlecase
              }}</a>
              <p class="card__price price">{{ plant.price | currency }}</p>
              <ul class="card__number number">
                <li class="number__item">-</li>
                <li class="number__item">1</li>
                <li class="number__item">+</li>
              </ul>
              <button class="button card__button">ADD TO CART</button>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </main>
  <nav class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/" class="pagination__link">1</a>
      </li>
      <li class="pagination__item">
        <a href="/" class="pagination__link">2</a>
      </li>
      <li class="pagination__item">
        <a href="/" class="pagination__link">3</a>
      </li>
      <li class="pagination__item">
        <a href="/" class="pagination__link">...</a>
      </li>
      <li class="pagination__item">
        <a href="/" class="pagination__link">15</a>
      </li>
      <li class="pagination__item">
        <a href="/" class="pagination__link"
          >Next
          <img src="assets/icons/arrow-right.svg" alt="" />
        </a>
      </li>
    </ul>
  </nav>
</div>
