<div class="rating">
  <svg class="{{ size }}">
    <use xlink:href="assets/icons/sprite.svg#star_full"></use>
  </svg>
  <svg class="{{ size }}">
    <use xlink:href="assets/icons/sprite.svg#star_full"></use>
  </svg>
  <svg class="{{ size }}">
    <use xlink:href="assets/icons/sprite.svg#star_full"></use>
  </svg>
  <svg class="{{ size }}">
    <use xlink:href="assets/icons/sprite.svg#star_full"></use>
  </svg>
  <svg class="{{ size }}">
    <use xlink:href="assets/icons/sprite.svg#star_full"></use>
  </svg>
</div>
