<div class="wrapper">
  <h1>{{ name | titlecase }} product</h1>
  <form [formGroup]="productForm" class="form">
    <mat-card>
      <h2>Main Information:</h2>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
    </mat-card>
    <ng-container [formGroup]="productForm.controls.extraInfo">
      <ng-container formArrayName="image">
        <mat-card>
          <h2>Images:</h2>

          <div class="half">
            <ng-container
              *ngFor="let imageForm of image.controls; let i = index"
            >
              <div [formGroup]="getControl('image', i)" class="gap">
                <mat-form-field class="field">
                  <mat-label>Image url</mat-label>
                  <input matInput formControlName="imageUrl" />
                </mat-form-field>

                <button
                  color="warn"
                  mat-icon-button
                  (click)="delete('image', i)"
                  class="delete-button"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
          <button
            color="primary"
            mat-icon-button
            (click)="addImage()"
            class="add-button"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </ng-container>

      <ng-container formArrayName="size">
        <mat-card>
          <h2>Size:</h2>

          <div class="full">
            <ng-container *ngFor="let sizeForm of size.controls; let i = index">
              <div [formGroup]="getControl('size', i)" class="gap">
                <mat-form-field class="field">
                  <mat-label>Size</mat-label>
                  <input matInput formControlName="size" />
                </mat-form-field>

                <mat-form-field class="field">
                  <mat-label>Price coefficient</mat-label>
                  <input matInput formControlName="coeff" />
                </mat-form-field>

                <button
                  color="warn"
                  mat-icon-button
                  (click)="delete('size', i)"
                  class="delete-button"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
            <button
              color="primary"
              mat-icon-button
              (click)="addSize()"
              class="add-button"
            >
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-card>
      </ng-container>

      <ng-container formArrayName="potColor">
        <mat-card>
          <h2>Pot Color:</h2>

          <div class="half">
            <ng-container
              *ngFor="let potColorForm of potColor.controls; let i = index"
            >
              <div [formGroup]="getControl('potColor', i)" class="gap">
                <mat-form-field class="field">
                  <mat-label>Pot Color</mat-label>
                  <input matInput formControlName="potColor" />
                </mat-form-field>

                <button
                  color="warn"
                  mat-icon-button
                  (click)="delete('potColor', i)"
                  class="delete-button"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
          <button
            color="primary"
            mat-icon-button
            (click)="addPotColor()"
            class="add-button"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </ng-container>
      <mat-card>
        <h2>Pot Color:</h2>
        <mat-form-field>
          <mat-label>Rating</mat-label>
          <input matInput formControlName="rating" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Video</mat-label>
          <input matInput formControlName="video" />
        </mat-form-field>
      </mat-card>
      <ng-container
        [formGroup]="productForm.controls.extraInfo.controls.plantCare"
      >
        <mat-card>
          <h2>Plant Care:</h2>
          <ng-container
            [formGroup]="
              productForm.controls.extraInfo.controls.plantCare.controls
                .watering
            "
          >
            <h3>Watering</h3>
            <div class="half">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Text</mat-label>
                <input matInput formControlName="text" />
              </mat-form-field>
            </div>
          </ng-container>

          <ng-container
            [formGroup]="
              productForm.controls.extraInfo.controls.plantCare.controls.light
            "
          >
            <h3>Light</h3>
            <div class="half">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Text</mat-label>
                <input matInput formControlName="text" />
              </mat-form-field>
            </div>
          </ng-container>

          <ng-container
            [formGroup]="
              productForm.controls.extraInfo.controls.plantCare.controls.care
            "
          >
            <h3>Care</h3>
            <div class="half">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Text</mat-label>
                <input matInput formControlName="text" />
              </mat-form-field>
            </div>
          </ng-container>
        </mat-card>
      </ng-container>

      <ng-container formArrayName="review">
        <mat-card>
          <h2>Review:</h2>
          <ng-container
            *ngFor="let reviewForm of review.controls; let i = index"
          >
            <div [formGroup]="getControl('review', i)" class="two-rows">
              <div class="half first">
                <mat-form-field class="field">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" />
                </mat-form-field>

                <mat-form-field class="field">
                  <mat-label>Rating</mat-label>
                  <input matInput formControlName="rating" />
                </mat-form-field>
              </div>
              <div class="half second">
                <mat-form-field class="field">
                  <mat-label>Comment</mat-label>
                  <input matInput formControlName="comment" />
                </mat-form-field>

                <mat-form-field class="field">
                  <mat-label>Photo</mat-label>
                  <input matInput formControlName="photo" />
                </mat-form-field>
              </div>
              <button
                color="warn"
                mat-icon-button
                (click)="delete('review', i)"
                class="delete-button icon"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </ng-container>

          <button
            color="primary"
            mat-icon-button
            (click)="addReview()"
            class="add-button"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </ng-container>
    </ng-container>
    <button mat-flat-button color="primary" type="submit" class="submit-button">
      Submit
    </button>
  </form>
</div>
