@import "style-variables.scss";

.counter {
  @extend %bodyText;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  gap: rem(4);
  border-radius: 6px;
  background-color: var(--lightGrey);

  &-button {
    padding: rem(8);
  }
}
