<div class="card-item">
  <a [routerLink]="[plant.id]" class="card-link">
    <img class="card-img" [src]="plant.img" [alt]="plant.name" />
  </a>
  <div class="card-descr">
    <app-rating [size]="'small'"></app-rating>
    <div class="plant-name">
      <a [routerLink]="[plant.id]">{{ plant.name | titlecase }}</a>
    </div>
    <p class="price">{{ plant.price | currency }}</p>
    <button
      *ngIf="!isProductInCart(plant.id)"
      (click)="addToCart.emit(plant.id)"
      class="button card-button"
    >
      ADD TO CART
    </button>
    <app-counter *ngIf="isProductInCart(plant.id)" class="card-counter"></app-counter>
  </div>
</div>
<!-- [(ngModel)]="product.count" -->
