<div class="container">
  <form class="form">
    <label class="form-label">CONTACT INFORMATION</label>
    <div class="form-container">
      <input
        type="email"
        name="email"
        placeholder="e-mail"
        class="form-input"
      />
      <input
        type="text"
        name="number"
        placeholder="phone number"
        class="form-input"
      />
      <input
        type="text"
        name="first-name"
        placeholder="first-name"
        class="form-input"
      />
      <input
        type="text"
        name="last-name"
        placeholder="last-name"
        class="form-input"
      />
    </div>

    <label class="form-label">SHIPPING ADDRESS</label>
    <div class="form-container">
      <input
        type="text"
        name="country"
        placeholder="country"
        class="form-input"
      />
      <input
        type="text"
        name="region"
        placeholder="region"
        class="form-input"
      />
      <input type="text" name="city" placeholder="city" class="form-input" />
      <input
        type="address"
        name="city"
        placeholder="address"
        class="form-input"
      />
    </div>

    <button type="submit" class="button form-button">COMPLETE PAYMENT</button>
  </form>

  <app-cart></app-cart>
</div>
