<div class="container">
  <main class="main">
    <div class="title-container">
      <h1 class="title">ALL PLANTS</h1>
      <app-product-view></app-product-view>
    </div>
    <div class="filter">
      <app-filter></app-filter>
    </div>
    <div class="cards">
      <ng-container *ngIf="plants1$ | async as plants">
        <app-products *ngIf="plants.length"
          (addToCart)="addToCart($event)"
          [plants]="plants"
        ></app-products>
      </ng-container>
    </div>
  </main>
  <ng-container *ngIf="plants1$ | async as plants">
    <app-pagination *ngIf="plants.length"
      [limit]="limit"
      [total]="(productsService.allProductsCount | async)"
      [currentPage]="currentPage"
      (changePage)="changePage($event)"
    ></app-pagination>
  </ng-container>
</div>
