<footer class="footer">
  <div class="container">
    <div class="footer-box">
      <div class="footer-list">
        <div class="footer-list footer-list-contacts">
          <p class="footer-item footer-item-bold">General questions 👋🏼</p>
          <p class="footer-item footer-item">
            Developer: mariia.stus@gmail.com
          </p>
          <p class="footer-item footer-item">Designer: nkyshchenko@gmail.com</p>
        </div>
        <div class="footer-list footer-list-contacts">
          <p class="footer-item footer-item-bold">Plant doctor (support) 🌱</p>
          <p class="footer-item">Flower-Power AG</p>
          <p class="footer-item">Odesa, Ukraine</p>
        </div>
      </div>
      <ul class="footer-list">
        <a class="footer-link not-work-yet">
          <li class="footer-item">Become a Flower-Power ambassador</li>
        </a>
        <a class="footer-link not-work-yet">
          <li class="footer-item">Company offers</li>
        </a>
        <a class="footer-link not-work-yet">
          <li class="footer-item">Jobs</li>
        </a>
        <a class="footer-link not-work-yet">
          <li class="footer-item">Contact</li>
        </a>
        <a class="footer-link not-work-yet">
          <li class="footer-item">FAQ</li>
        </a>
      </ul>
      <ul class="footer-list">
        <a class="footer-link not-work-yet">
          <li class="footer-item">Conditions</li>
        </a>
        <a class="footer-link not-work-yet">
          <li class="footer-item">Shipping conditions</li>
        </a>
        <a class="footer-link not-work-yet">
          <li class="footer-item">Privacy Policy</li>
        </a>
        <a class="footer-link not-work-yet">
          <li class="footer-item">Imprint</li>
        </a>
        <a class="footer-link not-work-yet">
          <li class="footer-item">Download media kit</li>
        </a>
      </ul>
      <div class="footer-list">
        <div class="logo">
          <a routerLink="/" class="link">
            <svg class="logo-icon">
              <use xlink:href="assets/icons/sprite.svg#logo"></use>
            </svg>
          </a>
        </div>
        <ul class="footer-list footer-list-logo">
          <li class="footer-item">
            <a>
              <svg class="footer-icon footer-icon-facebook">
                <use xlink:href="assets/icons/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a>
              <svg class="footer-icon footer-icon-instagram">
                <use xlink:href="assets/icons/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a>
              <svg class="footer-icon footer-icon-twitter">
                <use xlink:href="assets/icons/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a>
              <svg class="footer-icon footer-icon-youtube">
                <use xlink:href="assets/icons/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
