@import "style-variables.scss";

@import "style-variables.scss";

.tooltip {
  width: rem(300);
  padding: rem(10);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cart {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  max-width: rem(280);
}

.product {
  display: grid;
  grid-gap: rem(10);
  grid-template-rows: auto;
  border-bottom: 1px solid var(--greyX);
  padding-bottom: rem(20);

  &-item {
    display: grid;
    grid-template-columns: 150px 130px;
    grid-template-areas:
      "img name"
      "img price"
      "img counter";
  }

  &-img {
    grid-area: img;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  &-name {
    @extend %subHead3;
    grid-area: name;
    color: var(--green);
    margin-left: rem(10);
    max-width: 100%;
    word-wrap: break-word;
  }

  &-text {
    @extend %subHead1;
    grid-area: price;
    text-align: left;
    margin-left: rem(10);
    color: var(--greyX)
  }

  &-price {
    @extend %subHead1;
    grid-area: price;
    text-align: right;
  }

  &-counter {
    grid-area: counter;
    text-align: center;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: rem(20);

  &-text {
    @extend %subHead3;
    color: var(--green);
  }

  &-price {
    @extend %subHead3;
  }
}

.message {
  &-header {
    @extend %header1;
    text-align: center;
    line-height: rem(50);
  }

  &-text {
    @extend %subHead1;
    text-align: center;
    margin-top: rem(10);
  }
}
