<div class="tooltip">
  <div  class="cart">
    <ul class="product">
      <li *ngFor="let item of cart$ | async; let index = index" class="product-item">
        <img
          [src]="item.product.extraInfo.image[0]"
          [alt]="item.product.name"
          class="product-img"
        />
        <h2 class="product-name">{{ item.product.name }}</h2>
        <p class="product-text">price</p>
        <p class="product-price">{{ item.product.price | currency }}</p>
        <app-counter [ngModel]="item.count"
        (ngModelChange)="changeCount(item.product.id, $event)" class="product-counter"></app-counter>
      </li>
    </ul>
    <div class="total">
      <h3 class="total-text">Total</h3>
      <div class="total-price">{{ total$ | async | currency }}</div>
    </div>
  </div>

  <div *ngIf="" class="message">
    <p class="message-header">Your cart is empty</p>
    <p class="message-text">
      look at our catalog and choose <br />
      the products you like
    </p>
  </div>
</div>
