<section class="product">
  <div class="product-slider">
    <app-slider
      [sliderType]="'singleItem'"
      [slides]="plant.slides"
      [slideTemplate]="slideCard"
    ></app-slider>

    <ng-template #slideCard let-slide="slideItem">
      <div>
        <img
          [src]="slide.img"
          alt=""
          width="100%"
          class="slider-img"
        />
      </div>
    </ng-template>
  </div>
  <div class="product-descr">
    <h1 class="product-title">{{plant.name}}</h1>
    <app-rating [size]="'medium'"></app-rating>
    <p class="price">{{ plant.price | currency }}</p>
    <div class="pot">
      Size
      <ul class="pot-list">
        <li *ngFor="let number of plant.size" class="pot-item">
          <button class="pot-button">{{number}}'' Pot</button>
        </li>
      </ul>
    </div>
    <div class="pot">
      Pot type
      <ul class="pot-list">
        <li *ngFor="let type of plant.potType" class="pot-item">
          <button class="pot-button">{{type}}</button>
        </li>
      </ul>
    </div>
    <div class="pot">
      Quantity
      <form [formGroup]="counterForm" class="counter">
        <app-counter formControlName="quantity"></app-counter>
      </form>
    </div>
    <button class="product-button button">ADD TO CART</button>
  </div>
</section>
