/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:regular");
@import "tippy.js/dist/tippy.css";
@import "style-variables.scss";

/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

//slider

ul.slick-dots {
  bottom: 10px;
}

button.slick-next.slick-arrow {
  position: relative;
}

button.slick-next.slick-arrow {
  display: none;
}

button.slick-next.slick-arrow::before {
  display: none;
}

//tooltip

.tippy {
  &-box {
    background-color: #fff;
    color: black;
    position: absolute;
  }

  &-arrow {
    width: 0;
    height: 0;
    color: transparent;
  }

  &-content {
    padding: 0;
  }
}

//tag

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

a {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--black);
  }
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: inherit;
}

//class

.container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 rem(30);
  position: relative;
}

.container-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  @extend %fontButton;
  background-color: var(--corn);
  border: none;
  border-radius: 6px;
  padding: 20px 30px 20px 30px;
  text-align: center;

  &:hover {
    background-color: var(--corn-opacity);
  }

  &[disabled] {
    cursor: auto;
    background-color: var(--lightGrey);
    color: var(--black);
  }
}

.price {
  @extend %subHead1;
  color: var(--green);
  margin-top: rem(10);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-paginator {
  margin-top: rem(20);
}

.not-work-yet {
  color: var(--grey);
}

mat-snack-bar-container.mat-mdc-snack-bar-container.modal-message {
  --mdc-snackbar-supporting-text-color: black;

  &.ok {
    --mdc-snackbar-container-color: #5f7a4280;
  }

  &.error {
    --mdc-snackbar-container-color: #f1393980;
  }
}
