body {
  //color
  --green: #5f7a34;
  --corn: #efe744;
  --lightGrey: #f6f7f9;
  --greyX: #b6b6b6;
  --darkGreen: #242923;
  --black: #000000;
}

//fonts

%header1 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
}

%header2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
}

%subHead1 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

%subHead2 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

%subHead3 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
}

%bodyText {
  font-family: "Ubuntu";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

%fontButton {
  font-size: 1rem;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2em;
}

//borders
%card {
  border: 0.98px solid var(--greyX);
}

//button
%button {
  @extend %fontButton;
  background-color: var(--corn);
  border: none;
  border-radius: 6px;
  padding: 20px 30px 20px 30px;
  text-align: center;
}
