@import "../../../../assets/style-variables.scss";

.pagination {
  @extend %subHead1;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  &__list {
    display: flex;
    gap: 25px;
  }

  &__link {
    color: var(--green);
  }
}
