<header class="header">
  <div class="message">
    Free Shipping on All Orders / 30 Day Healthy Plant Guarantee
  </div>
  <div class="container">
    <nav class="nav">
      <ul class="list">
        <li class="logo">
          <a routerLink="/" class="link">
            <svg class="logo-icon">
              <use xlink:href="assets/icons/sprite.svg#logo"></use>
            </svg>
          </a>
        </li>
        <li *ngFor="let item of navBar; let first = first" class="item">
          <a [routerLink]="item.link" class="link" [ngClass]="{'not-work-yet': !first}">
            {{ item.name | uppercase }}
          </a>
        </li>
      </ul>
      <ul class="list list-right">
        <li class="admin">
          <a routerLink="admin">
            <div class="tooltip-text">Go to admin page</div>
            <svg class="header-icon">
              <use xlink:href="assets/icons/sprite.svg#log_in"></use>
            </svg>
          </a>
        </li>
        <li>
          <button>
            <svg class="header-icon not-work-yet">
              <use xlink:href="assets/icons/sprite.svg#search"></use>
            </svg>
          </button>
        </li>
        <li>
          <a
            [ngxTippy]="tooltipTemplate"
            [tippyProps]="{
              interactive: true,
              placement: 'left-end'
            }"
            routerLink="cart"
          >
            <svg class="header-icon">
              <use xlink:href="assets/icons/sprite.svg#cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<ng-template #tooltipTemplate>
  <app-tooltip class="tooltip"></app-tooltip>
</ng-template>
